@import '../abstract/variaveis';

.banner {
  background: url(../../imagens/spa.png) 100% no-repeat;
  min-height: 500px;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items:center;
  opacity: 0.9;
  .inner-banner {
    padding:4em;
    border:none;
          
    
    background-color: $cor-terciaria;
    background: linear-gradient(rgba(190, 189, 189, 0.214), rgba(255, 255, 255, 0.423), rgba(189, 12, 12, 0));
    
    
  }
    h1{
        font-size: 4rem;
        color: $cor-primaria;
    }
    h2{
        font-size: 2rem;
        color: $cor-secundaria;
    }
}
