@import "../abstract/variaveis";

#produtos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  h3 {
    margin-top: 80px;
    font-size: $tamanho-do-texto / 2.2;
    color: $cor-secundaria;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid $cor-primaria;
    padding: 1rem;
    margin: 1rem;
    hr {
      border-top: 1px solid black;
    }
  }
}
h4 {
  text-align: center;
  font-size: $tamanho-do-texto / 1.8;
  margin-top: 2rem;
  margin-bottom: 30px;
  font-weight: 300;
  color: $cor-primaria;
}

.produto-p {
  font-size: $tamanho-do-texto / 2.3;
  text-align: center;
  font-weight: 300;
  margin-inline: 2rem;
  color: $cor-primaria;
  line-height: 2rem;
  max-width: 550px;
}

#items-wrapper {
  display: grid;
  place-items: center;
  margin: 3rem;
  width: 60vw;

  #items {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    .item {
      flex: none;
      width: 50%;
      scroll-snap-align: start;

      pointer-events: none;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
