@import "../abstract/variaveis";

#produtos {
  h3 {
    margin-top: 80px;
    font-size: $tamanho-do-texto / 2.2;
    color: $cor-secundaria;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid $cor-primaria;
    padding: 1rem;
    margin: 1rem;
    hr {
      border-top: 1px solid black;
    }
  }
}
h4 {
  text-align: center;
  font-size: $tamanho-do-texto / 1.8;
  margin-top: 2rem;
  margin-bottom: 30px;
  font-weight: 300;
  color: $cor-primaria;
}

.produto-p {
  font-size: $tamanho-do-texto / 2.3;
  text-align: center;
  font-weight: 300;
  margin-inline:2rem;
  color: $cor-primaria;
  line-height: 2rem;
}

.img-slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 820px;

  .img-slider {
    display: flex;
    align-items: center;
    justify-content: center;

    .slide {
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      position: absolute;

      .produtoImagem {
        width: 100%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 6px 12px;
        &:hover {
          transition: 0.6s ease-in-out 100ms;
          box-shadow: rgba(0, 0, 0, 0.307) 2px 10px 16px;
        }
      }
      .info {
        position: absolute;
        bottom: 0;
        color: white;
        padding: 30px 20px;
        h2 {
          color: $cor-terciaria;
          font-size: 30px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
        }
        .produto-p {
          color: $cor-terciaria !important;
          background: rgba(0, 0, 0, 0.1) !important;
          font-size: 20px !important;
          padding: 10px !important;
          text-align: left !important;
        }
        .btn-comprar {
          padding: 10px 30px;
          border-radius: 40px;
          margin-block: 0.75rem;
          border-color: 1px solid;
          border-color: $cor-secundaria;
          background-color: $cor-terciaria;
          cursor: pointer;
        }
      }
    }
  }
  
.navigation {
  z-index: 2;
  display: flex;
 
  
  
  .flex {
    display: flex;
    width:750px;
    justify-content: space-between;
    .prev-btn, .next-btn {
      z-index:999;
      
      font-size: 2em;
      color:rgb(170, 213, 199);
      background: rgba(255,255,255,0.5);
      cursor: pointer;
      
    }
  }
  
   
}
  
}


@media (max-width: 480px) {
  #produtos {
    h3 {
      margin-top: 80px;
      font-size: $tamanho-do-texto / 2.7;
      color: $cor-secundaria;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;

      margin: 1.5rem;
    }
    h4 {
      text-align: center;
      font-size: $tamanho-do-texto / 2.5;
      margin-bottom: 15px;
      margin-inline: 2.5rem;
      font-weight: 300;
    }

    p {
      font-size: $tamanho-do-texto / 2.9;
      line-height: 2rem;
      color: $cor-secundaria;
      margin-inline: 2.5rem;
      text-align: center;
    }

    .img-slider-wrapper {
      max-width: 100%;

      .img-slider {
        width: 500px;
        height: 400px;
        position: relative;

        .slide {
          z-index: 1;
          position: absolute;

          img {
            width: 350px;
          }

          .info {
            padding: 8px 15px;
            h2 {
              font-size: 30px;
            }
            .slide-p {
              width: 60%;
              font-size: 15px;
              text-align: left;
            }
          }
        }
        .navigation {
          z-index: 2;
          position: absolute;
          display: flex;
          bottom: 15%;
          //left: 50%;
          transform: translateX(-50%);
          .btn {
            background: rgba(255, 255, 255, 0.5);
            width: 12px;
            height: 12px;
            margin: 10px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
  }
}
