@import "../abstract/variaveis";

#produtos {
  border: 1px solid rgb(226, 226, 226);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #e2e5e2;
  
  h3 {
    margin-top: 80px;
    font-size: $tamanho-do-texto / 2.2;
    color: $cor-secundaria;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid $cor-primaria;
    padding: 1rem;
    margin: 1rem;
    hr {
      border-top: 1px solid black;
    }
  }
}
h4 {
  text-align: center;
  font-size: $tamanho-do-texto / 1.8;
  margin-top: 2rem;
  margin-bottom: 30px;
  font-weight: 300;
  color: $cor-primaria;
}

.produto-p {
  font-size: $tamanho-do-texto / 2.3;
  text-align: center;
  font-weight: 300;
  margin-inline: 2rem;
  color: $cor-primaria;
  line-height: 2rem;
  max-width: 550px;
}

#items-wrapper {
  display: grid;
  place-items: center;
  margin: 3rem;
  width: 70vw;
  
 

  &::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  #items {
    display: flex;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

        &::-webkit-scrollbar {
          height: 10px;
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0);
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgb(219, 217, 217);
          /* hide scrollbar*/
          visibility: hidden;
        }
        
        &::-webkit-scrollbar-thumb {
          visibility: visible;
        }
    

   

    /* show scrollbar when hover items-wrapper */
   
    
    .item {
      flex: none;
      width: 50%;
      scroll-snap-align: start;
      position: relative;
      pointer-events: none;

      img {
        width: 90%;
        height: 100%;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 2.6px;
      }
      .info {
        position: absolute;
        bottom: 5%;
        left: 5%;
        backdrop-filter: blur(15px);

        border-radius: 0.2rem;
        padding: 1rem;

        h2 {
          font-size: $tamanho-do-texto / 1.2;
          font-weight: 600;
          letter-spacing: 2px;
          color: $cor-terciaria;
        }
        p {
          margin-top: 0.3rem;
          font-size: $tamanho-do-texto / 2.5;
          color: $cor-terciaria;
        }
      }
    }
  }
}


