@import "../abstract/variaveis";

#servicos {
  margin: 80px;
  h4 {
    font-size: $tamanho-do-texto / 2.2;
    color: $cor-secundaria;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 1rem;
  }
  h3 {
    text-align: center;
    font-size: $tamanho-do-texto / 1.8;
    margin-bottom: 80px;
    font-weight: 300;
    color: $cor-primaria;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
    background-color: #eef9f393;

    gap: 3rem;
    width: 100%;

    .card {
      width: 400px;
      text-align: center;
      padding-bottom: 1.5rem;
      font-size: $tamanho-do-texto / 2.2;
      border: 1px solid rgba(255, 255, 255, 0.342);
      box-shadow: rgba(0, 0, 0, 0.1) 1px 6px 12px;
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;

      &:hover {
        transition: 0.6s ease-in-out 100ms;
        box-shadow: rgba(0, 0, 0, 0.307) 2px 10px 16px;
      }
      h5 {
        font-size: $tamanho-do-texto / 1.5;
        font-weight: 300;
        margin-top: 25px;
        margin-bottom: 20px;
        color: $cor-primaria;
      }
      p {
        font-size: $tamanho-do-texto / 2.2;
        font-weight: 300;
        color: $cor-secundaria;
        line-height: 2rem;
      }

      .img-container {
        padding-bottom: 3px;
        border-bottom: 2px solid $cor-secundaria;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #servicos {
    margin: 50px;
    h3 {
      text-align: center;
      font-size: $tamanho-do-texto / 1.8;
      margin-bottom: 80px;
      font-weight: 300;
      color: $cor-primaria;
    }
    h4 {
      font-size: $tamanho-do-texto / 2.2;
      color: $cor-secundaria;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      margin: 1rem;
    }

    .cards {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      background-color: #eef9f393;

      gap: 3rem;
      width: 100%;

      .card {
        width: 350px;
        text-align: center;
        padding-bottom: 1.5rem;
        font-size: $tamanho-do-texto / 2.7;
        border: 1px solid rgba(255, 255, 255, 0.342);
        box-shadow: rgba(0, 0, 0, 0.1) 1px 6px 12px;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;

        &:hover {
          transition: 0.6s ease-in-out 100ms;
          box-shadow: rgba(0, 0, 0, 0.307) 2px 10px 16px;
        }
        h5 {
          font-size: $tamanho-do-texto / 1.5;
          font-weight: 300;
          margin-top: 25px;
          margin-bottom: 20px;
          color: $cor-primaria;
        }
        p {
          font-size: $tamanho-do-texto / 2.2;
          font-weight: 300;
          color: $cor-secundaria;
          line-height: 2rem;
        }

        .img-container {
          padding-bottom: 3px;
          border-bottom: 2px solid $cor-secundaria;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
