.swipper {
  margin: 0;
  padding: 0;

  .slides {
    width: 600px;
    height: 427px;
    overflow: hidden;

    .slide {
      position: relative;
    }

    .manual-navigation {
        position:absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }
  }
  .slides input {
    display: none;
  }
}
