.swipper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
    
    
    
    
    

    .slides {
        margin: 0 auto;
        overflow: hidden;
        width: 800px;
        height: 427px;
        
        
    }
    

}