html,
body {
  font-family: "EB Garamond", sans-serif;
  background: #f6f7f6;
}

nav {
  text-align: center;
  position: fixed;
  z-index: 10;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
nav ul li {
  display: inline-block;
  padding: 1rem;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #566134;
}
nav ul li a:hover {
  border-bottom: 2px solid #64655b;
  padding-bottom: 3px;
  transition: 0.2s ease-in-out;
}

.banner {
  background: url(../../imagens/banner7.jpg) 100% no-repeat;
  min-height: 400px;
  background-size: cover;
  background-position: bottom 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner .inner-banner {
  display: flex;
  padding: 4em;
  margin-left: 9em;
  border: 1px solid rgba(156, 155, 155, 0.103);
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  /* background-color: $cor-terciaria;
  background: linear-gradient(rgba(190, 189, 189, 0.312),rgba(255, 255, 255, 0.400), rgba(255, 255, 255, 0.223), rgba(189, 12, 12, 0));
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}
.banner h1 {
  font-size: 5rem;
  color: rgb(225, 219, 219);
  margin-bottom: 1rem;
}
.banner h2 {
  font-size: 2rem;
  color: #f8f8f8;
}

@media (max-width: 480px) {
  .banner {
    background: url(../../imagens/banner7.jpg) 100% no-repeat;
    min-height: 200px;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .banner .inner-banner {
    padding: 1em;
    border: 1px solid rgba(156, 155, 155, 0.103);
    margin-left: 2rem;
  }
  .banner h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .banner h2 {
    font-size: 1rem;
    color: #f8f8f8;
  }
}
#servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px;
}
#servicos h4 {
  font-size: 1.5rem;
  color: #64655b;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 1rem;
}
#servicos h3 {
  text-align: center;
  font-size: 1.3636363636rem;
  margin-bottom: 80px;
  font-weight: 300;
  color: #566134;
  margin-top: 0.5rem;
  max-width: 550px;
  line-height: 1.8rem;
  text-align: center;
}
#servicos .cards {
  display: flex;
  justify-content: center;
  gap: 35px;
  width: 90%;
  height: 50%;
}
#servicos .cards .card {
  width: 50%;
  height: 500px;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.3636363636rem;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 6px 12px;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
#servicos .cards .card:hover {
  transition: 0.6s ease-in-out 100ms;
  box-shadow: rgba(0, 0, 0, 0.307) 2px 10px 16px;
}
#servicos .cards .card h5 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #566134;
  text-align: left;
  padding-inline: 2rem;
}
#servicos .cards .card p {
  font-size: 1.3043478261rem;
  font-weight: 300;
  color: #64655b;
  line-height: 2rem;
  padding-inline: 2rem;
  text-align: left;
}
#servicos .cards .card .img-container {
  padding-bottom: 3px;
}
#servicos .cards .card .img-container img {
  width: 100%;
}
#servicos .cards .card .btn-servico {
  padding: 10px 30px;
  border-radius: 40px;
  margin-block: 1rem;
  border-color: 1px solid;
  border-color: #64655b;
  background-color: #e9f1ec;
  cursor: pointer;
}
#servicos .cards .card .btn-servico:hover {
  -webkit-backdrop-filter: saturate(80%);
          backdrop-filter: saturate(80%);
}

@media (max-width: 480px) {
  #servicos {
    margin: 40px;
  }
  #servicos h4 {
    font-size: 1.1111111111rem;
    color: #64655b;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 1.5rem;
  }
  #servicos h3 {
    text-align: center;
    font-size: 1.3636363636rem;
    margin-bottom: 80px;
    font-weight: 300;
    color: #566134;
  }
  #servicos .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  #servicos .cards .card {
    width: 300px;
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.342);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 6px 12px;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  #servicos .cards .card:hover {
    transition: 0.6s ease-in-out 100ms;
    box-shadow: rgba(0, 0, 0, 0.307) 2px 10px 16px;
  }
  #servicos .cards .card h5 {
    font-size: 1.6666666667rem;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #566134;
  }
  #servicos .cards .card p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #64655b;
    line-height: 2rem;
  }
  #servicos .cards .card .img-container {
    padding-bottom: 3px;
    border-bottom: 2px solid #64655b;
  }
  #servicos .cards .card .img-container img {
    max-width: 100%;
  }
}
#cupom {
  background-color: #e9f1ec;
  padding: 4rem;
  text-align: center;
}
#cupom .texto {
  color: #566134;
}
#cupom .texto h2 {
  margin: 2rem;
  font-size: 1.5rem;
}
#cupom .input {
  margin: 0 auto;
  width: 500px;
  height: 35px;
  border-radius: 20px;
  border: 4px solid white;
}
#cupom .input input {
  margin: 0 auto;
  border-radius: 20px;
  height: 35px;
  border: none;
  width: 500px;
  outline: none;
  text-align: center;
  font-size: 26px;
}
#cupom .input:hover, #cupom .input:focus-within {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  outline: none;
}
#cupom button {
  text-transform: uppercase;
  margin-top: 0.75rem;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  background-color: #c8e3d7;
  border: 1px solid #d8e7cd;
  color: #566134;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 40px;
}
#cupom button:hover {
  background-color: #b3dac7;
  border-color: #a7d8bb;
}

@media (max-width: 480px) {
  #cupom {
    background-color: #e9f1ec;
    padding: 0.5rem;
    text-align: center;
  }
  #cupom .texto h2 {
    margin-block: 2rem;
    font-size: 1.5rem;
  }
  #cupom .input {
    margin: 0 auto;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    border: 4px solid white;
  }
  #cupom .input input {
    margin: 0 auto;
    border-radius: 20px;
    height: 35px;
    border: none;
    width: 250px;
    outline: none;
    text-align: center;
    font-size: 26px;
  }
  #cupom .input:hover, #cupom .input:focus-within {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    outline: none;
  }
  #cupom button {
    text-transform: uppercase;
    margin-block: 0.75rem;
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    background-color: #c8e3d7;
    border: 1px solid #d8e7cd;
    color: #566134;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
  }
  #cupom button:hover {
    background-color: #b3dac7;
    border-color: #a7d8bb;
  }
}
#produtos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
#produtos h3 {
  margin-top: 80px;
  font-size: 1.3636363636rem;
  color: #64655b;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #566134;
  padding: 1rem;
  margin: 1rem;
}
#produtos h3 hr {
  border-top: 1px solid black;
}

h4 {
  text-align: center;
  font-size: 1.6666666667rem;
  margin-top: 2rem;
  margin-bottom: 30px;
  font-weight: 300;
  color: #566134;
}

.produto-p {
  font-size: 1.3043478261rem;
  text-align: center;
  font-weight: 300;
  margin-inline: 2rem;
  color: #566134;
  line-height: 2rem;
  max-width: 550px;
}

#items-wrapper {
  display: grid;
  place-items: center;
  margin: 3rem;
  width: 70vw;
}
#items-wrapper::-webkit-scrollbar-thumb {
  visibility: visible;
}
#items-wrapper #items {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  /* show scrollbar when hover items-wrapper */
}
#items-wrapper #items::-webkit-scrollbar {
  height: 10px;
  width: 8px;
}
#items-wrapper #items::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
#items-wrapper #items::-webkit-scrollbar-thumb {
  background-color: rgb(219, 217, 217);
  /* hide scrollbar*/
  visibility: hidden;
}
#items-wrapper #items::-webkit-scrollbar-thumb {
  visibility: visible;
}
#items-wrapper #items .item {
  flex: none;
  width: 50%;
  scroll-snap-align: start;
  position: relative;
  pointer-events: none;
}
#items-wrapper #items .item img {
  width: 90%;
  height: 100%;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 2.6px;
}
#items-wrapper #items .item .info {
  position: absolute;
  bottom: 5%;
  left: 5%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 0.2rem;
  padding: 1rem;
}
#items-wrapper #items .item .info h2 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #e9f1ec;
}
#items-wrapper #items .item .info p {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  color: #e9f1ec;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  border-top: 2px solid #566134;
  margin-top: 1rem;
  padding: 1.2rem;
}/*# sourceMappingURL=styles.css.map */