html, body {
  font-family: "EB Garamond", sans-serif;
  background: #f6f7f6;
}

nav {
  text-align: center;
  position: fixed;
  z-index: 10;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
nav ul li {
  display: inline-block;
  padding: 1rem;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #566134;
}
nav ul li a:hover {
  border-bottom: 2px solid #64655b;
  padding-bottom: 3px;
  transition: 0.2s ease-in-out;
}

.banner {
  background: url(../../imagens/banner3.jpg) 100% no-repeat;
  min-height: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .inner-banner {
  padding: 4em;
  border: 1px solid rgba(156, 155, 155, 0.103);
  background-color: #e9f1ec;
  background: linear-gradient(rgba(190, 189, 189, 0.312), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.223), rgba(189, 12, 12, 0));
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.banner h1 {
  font-size: 4rem;
  color: #566134;
}
.banner h2 {
  font-size: 2rem;
  color: #64655b;
}

#servicos {
  margin: 80px;
}
#servicos h4 {
  font-size: 1.3636363636rem;
  color: #64655b;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 1rem;
}
#servicos h3 {
  text-align: center;
  font-size: 2.3076923077rem;
  margin-bottom: 80px;
  font-weight: 300;
  color: #566134;
}
#servicos .cards {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(238, 249, 243, 0.5764705882);
  gap: 3rem;
  width: 100%;
}
#servicos .cards .card {
  width: 400px;
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 1.3636363636rem;
  border: 1px solid rgba(255, 255, 255, 0.342);
}
#servicos .cards .card:hover {
  transform: scale(1.003);
  transition: 0.6s ease-in-out 100ms;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
#servicos .cards .card h5 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #566134;
}
#servicos .cards .card p {
  font-size: 1.3636363636rem;
  font-weight: 300;
  color: #64655b;
  line-height: 2rem;
}
#servicos .cards .card .img-container {
  padding-bottom: 4px;
  border-bottom: 2px solid #64655b;
}
#servicos .cards .card .img-container img {
  max-width: 100%;
}

#cupom {
  background-color: #e9f1ec;
  padding: 4rem;
  text-align: center;
}
#cupom .texto {
  color: #566134;
}
#cupom .texto h2 {
  margin: 2rem;
  font-size: 1.5rem;
}
#cupom .input {
  margin: 0 auto;
  width: 500px;
  height: 35px;
  border-radius: 20px;
  border: 4px solid white;
}
#cupom .input input {
  margin: 0 auto;
  border-radius: 20px;
  height: 35px;
  border: none;
  width: 500px;
  outline: none;
  text-align: center;
  font-size: 26px;
}
#cupom .input:hover, #cupom .input:focus-within {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  outline: none;
}
#cupom button {
  text-transform: uppercase;
  margin-top: 0.75rem;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  background-color: #c8e3d7;
  border: 1px solid #d8e7cd;
  color: #566134;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 40px;
}
#cupom button:hover {
  background-color: #b3dac7;
  border-color: #a7d8bb;
}

#produtos h3 {
  margin-top: 80px;
  font-size: 1.3636363636rem;
  color: #64655b;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 1rem;
}
#produtos h4 {
  text-align: center;
  font-size: 2.3076923077rem;
  margin-bottom: 20px;
  font-weight: 300;
  color: #566134;
}
#produtos p {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  color: #566134;
  line-height: 3rem;
}
#produtos .produto-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
}
#produtos .images {
  width: 600px;
  height: 427px;
  overflow: hidden;
  position: relative;
}
#produtos .images .glide__bullets {
  position: absolute;
  color: #000;
  bottom: 5%;
  left: 45%;
  padding: 5px;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  border-top: 2px solid #566134;
  margin-top: 1rem;
  padding: 1.2rem;
}/*# sourceMappingURL=styles.css.map */