html, body {
  font-family: "EB Garamond", sans-serif;
}

nav {
  text-align: center;
  position: fixed;
  z-index: 10;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
nav ul li {
  display: inline-block;
  padding: 1rem;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #48512D;
}
nav ul li a:hover {
  border-bottom: 2px solid #969889;
  padding-bottom: 3px;
}

.banner {
  background: url(../../imagens/spa.png) 100% no-repeat;
  min-height: 500px;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
  opacity: 0.9;
}
.banner .inner-banner {
  padding: 4em;
  border: none;
  background-color: #EEF2F7;
  background: linear-gradient(rgba(190, 189, 189, 0.214), rgba(255, 255, 255, 0.423), rgba(189, 12, 12, 0));
}
.banner h1 {
  font-size: 4rem;
  color: #48512D;
}
.banner h2 {
  font-size: 2rem;
  color: #969889;
}

#servicos {
  margin: 80px;
}
#servicos h4 {
  font-size: 1.3636363636rem;
  color: #969889;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 1rem;
}
#servicos h3 {
  text-align: center;
  font-size: 2.3076923077rem;
  margin-bottom: 80px;
  font-weight: 300;
  color: #48512D;
}
#servicos .cards {
  display: flex;
  justify-content: space-evenly;
}
#servicos .cards .card {
  width: 360px;
  text-align: center;
  font-size: 1.3636363636rem;
}
#servicos .cards .card:hover {
  transform: scale(1.03);
  transition: 0.6s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1rem;
}
#servicos .cards .card h5 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #48512D;
}
#servicos .cards .card h5 p {
  font-size: 1rem;
  font-weight: 300;
  color: #48512D;
  line-height: 3rem;
}
#servicos .cards .card .img-container {
  padding-bottom: 2px;
  border-bottom: 6px solid #969889;
}
#servicos .cards .card .img-container img {
  max-width: 100%;
}

#cupom {
  background-color: #EEF2F7;
  padding: 4rem;
  text-align: center;
}
#cupom .texto {
  color: #48512D;
}
#cupom .texto h2 {
  margin: 2rem;
  font-size: 1.5rem;
}
#cupom .input {
  margin: 0 auto;
  width: 500px;
  height: 35px;
  border-radius: 20px;
  border: 4px solid white;
}
#cupom .input input {
  margin: 0 auto;
  border-radius: 20px;
  height: 35px;
  border: none;
  width: 500px;
  outline: none;
  text-align: center;
  font-size: 26px;
}
#cupom .input:hover, #cupom .input:focus-within {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  outline: none;
}
#cupom button {
  text-transform: uppercase;
  margin-top: 0.75rem;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  background-color: #c8e3d7;
  border: 1px solid #d8e7cd;
  color: #48512D;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 40px;
}
#cupom button:hover {
  background-color: #b3dac7;
  border-color: #a7d8bb;
}

#curiosidades h3 {
  font-size: 1.3636363636rem;
  color: #969889;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 1rem;
}
#curiosidades h4 {
  text-align: center;
  font-size: 2.3076923077rem;
  margin-bottom: 80px;
  font-weight: 300;
  color: #48512D;
}
#curiosidades p {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  color: #48512D;
  line-height: 3rem;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  border-top: 2px solid #48512D;
  margin-top: 1rem;
  padding: 1.2rem;
}/*# sourceMappingURL=styles.css.map */